.container {
  width: 1440px;
}

.wrapper {
  max-width: 1219px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #717171;
}

* {
  padding: 0;
  margin: 0;
}

.header {
  background: #EDF2EC;
}
.header .container .wrapper .header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .container .wrapper .header_wrapper .header_logo img.logo {
  margin-top: 52px;
}
.header .container .wrapper .header_wrapper nav {
  margin-top: 52px;
  margin-left: 688.83px;
}
.header .container .wrapper .header_wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .container .wrapper .header_wrapper nav ul li {
  list-style-type: none;
  padding-left: 46px;
}
.header .container .wrapper .header_wrapper nav ul li a {
  font-family: "Inika", serif;
  font-weight: 400;
  color: #010201;
  font-size: 16px;
  text-decoration: none;
  line-height: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.header .container .wrapper .header_wrapper nav ul li a:hover {
  color: #E06733;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.header .container .wrapper .header_wrapper nav ul li:first-child {
  padding-left: 0px;
}
.header .container .wrapper .header_wrapper nav ul li:first-child a {
  font-family: "Inika", serif;
  font-weight: 400;
  color: #010201;
  font-size: 16px;
  text-decoration: none;
  line-height: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.header .container .wrapper .header_wrapper nav ul li:first-child a:hover {
  color: #E06733;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

main section.welcome {
  background: #EDF2EC;
}
main section.welcome .container .wrapper .welcome_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main section.welcome .container .wrapper .welcome_wrapper img.leafs {
  margin-top: 62px;
}
main section.welcome .container .wrapper .welcome_wrapper .welcime-text h1.welcome-title {
  font-weight: 700;
  margin-top: 98px;
  color: #717171;
  width: 549px;
  font-size: 45px;
  line-height: 50px;
}
main section.welcome .container .wrapper .welcome_wrapper .welcime-text h1.welcome-title span {
  color: #499A18;
}
main section.welcome .container .wrapper .welcome_wrapper .welcime-text p.welcome-description {
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  width: 525.44px;
  margin-bottom: 48px;
}
main section.welcome .container .wrapper .welcome_wrapper .welcime-text a.btn {
  color: #000;
  display: inline-block;
  border: 2px solid #E06733;
  text-decoration: none;
  padding: 14px 27px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 94px;
}
main section.about .container .wrapper .about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main section.about .container .wrapper .about-block .about-text_block .about-title {
  margin-top: 161px;
  font-size: 40px;
  font-family: "Inika", serif;
  font-weight: 400;
  line-height: 52px;
  width: 463px;
  color: #E06733;
  margin-bottom: 40px;
}
main section.about .container .wrapper .about-block .about-text_block .about-title span {
  color: #499A18;
}
main section.about .container .wrapper .about-block .about-text_block p.about-description {
  width: 605px;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}
main section.about .container .wrapper .about-block .about-img img.about-img_houseplant {
  margin-top: 93px;
  margin-bottom: 94px;
}